/* animations */
@keyframes hoverEffect {
    0% {
        color: white;
    }
    100% {
        text-shadow: 0 0 1vh white;
        font-size: 1.95vh;
        color: #ffffff;
    }
}

@keyframes unhoverEffect {
    0% {
        text-shadow: 0 0 1vh white;
        color: #ffffff;
        font-size: 1.95vh;
    }
    100% {
        color: white;
    }
}

html {
    background: transparent url('images/wallpaper.jpg') no-repeat left center;
    background-size: cover;
    height: 100%;
    margin: 0;
}

html:hover {
    cursor:default;
}

body {
    height: 100%;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.box {
    background-color: transparent;
    backdrop-filter: blur(2vh);
    width: 29%;
    height: 50%;
    border-color: rgb(255, 255, 255);
    border-width: 0.2vh;
    border-radius: 4vh;
    border-style: solid;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    font-size: 2vh;
    text-align: center;
    padding-top: 6vh;
    box-shadow: 0 0 3vh rgba(255, 255, 255, 0.308);
}

h1, h2, h3, h4, h5 {
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 400;
    margin: 0vh;
}

.btmtext {
    margin: 3vh;
    margin-bottom: 4vh;
}

.pswdinput, .mailinput {
    font-size: 2vh;
    background-color: rgba(245, 245, 245, 0);
    padding: 1vh;
    margin: 2vh;
    border-radius: 3vh;
    color: white;
    border: solid white;
    border-width: 0.2vh;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    font-size: 1.9vh;
    justify-content: space-between;
    margin: 3vh;
    font-weight: 400;
    animation: unhoverEffect 0.3s forwards;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

a:hover {
    animation: hoverEffect 0.3s forwards;
    cursor: pointer;
}

a:not(:hover) {
    animation: unhoverEffect 0.3s forwards;
}

input::placeholder {
    color: white;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

p {
    text-decoration: none;
    font-size: 1.9vh;
    justify-content: space-between;
    font-weight: 400;
    animation: unhoverEffect 0.3s forwards;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

input[type=checkbox] {
    transform: scale(0.9);
    -moz-transform: scale(0.9);
    margin-right: 1vh;
    transform: translateY(10%);
}

.login {
    background-color: #3b6386a2;
    color: white;
    font-size: 2vh;
    padding: 1vh;
    margin: 0vh;
    border-radius: 3vh;
    border: solid white;
    border-width: 0.2vh;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    box-sizing: border-box;
    width: calc(100% - 10vh);
}

.login:hover {
    cursor: pointer;
    background-color: #45749da2;
    transition: 0.2s;
}



@media only screen and (max-width: 800px) {
    .box {
        width: 100%;
    }
  }